{% extends 'base.html' %} {% load static %} {% block content %} {% include '_navbar.html' %}

<section id="gallery">
    <div class="container">
        <div class="mt-4 mb-4">
            <small
                style="color: black; letter-spacing: 3px; font-weight: bold; font-family: Poppins, sans-serif; font-size:18px;">Fotos
                Cozinha </small>
            <hr>
        </div>
        <div class="row ">
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/cozinha/cozinha1.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/cozinha/cozinha1.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/cozinha/cozinha5.jpg' %}" data-lightbox="models" data-title="cozinha 2"
                    class="href">
                    <img src="{% static 'images/cozinha/cozinha5.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/cozinha/cozinha6.jpg' %}" data-lightbox="models" data-title="cozinha 3"
                    class="href">
                    <img src="{% static 'images/cozinha/cozinha6.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/cozinha/cozinha4.jpg' %}" data-lightbox="models" data-title="cozinha 4"
                    class="href">
                    <img src="{% static 'images/cozinha/cozinha4.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/cozinha/cozinha3.jpg' %}" data-lightbox="models" data-title="cozinha 5"
                    class="href">
                    <img src="{% static 'images/cozinha/cozinha3.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

<style>
    #algo .container {
        width: 100%;
        min-height: 100vh;
        align-items: center;
        justify-items: center;
        padding: 50px 8%;
    }

    .container .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit), minmax(250px, 1fr);
        grid-gap: 30px;
    }

    .gallery img {
        width: 100%;
        margin-bottom: 10px;
    }
</style>
{% include '_footer.html' %}





{% endblock %}