<section>
    <footer>
        <aside style="background-color:#000000">">
            <div class="container">
                <div class="row ">
                    <!-- footer-->
                    <div class="col-md-4 text-white">
                        <h4 class="mt-4">Pousada Fazenda Rincão Comprido</h4>

                        <div class="conteudo">
                            <p><b>Check-in & Check-out:</b><br>
                                <i class="fa fa-calendar-check-o"></i> check-in das: 14:00pm às 22:00 <br>
                                <i class="fa fa-calendar-minus-o"></i> check-out das: 08:00 às 12:00
                            </p>

                            <p><b>Horários de Atendimento:</b><br>
                                <i class="fa fa-calendar-check-o"></i> check-in das: 14:00pm às 22:00 <br>
                                <i class="fa fa-calendar-minus-o"></i> check-out das: 08:00 às 12:00
                            </p>
                        </div>
                    </div>
                    <!--localização e contato-->
                    <div class="col-md-4 text-white">
                        <h4 class="mt-4">Localização & Contato</h4>
                        <br>
                        <div class="conteudo">

                            <p><i class="fas fa-home me-3"></i> Urubici - SC</p>

                            <p>
                                <i class="fas fa-envelope me-3 "></i>
                                rincaocomprido@gmail.com
                            </p>

                            <p>
                                <i class="fas fa-phone me-3 "></i> +55 49 9132-4760
                            </p>

                            <p>
                                <i class="fa fa-whatsapp me-3 "></i> +55 49 9132-4760
                            </p>
                        </div>
                    </div>



                    <!-- Explorar -->
                    <div class="col-md-4 text-white">
                        <h4 class=" mt-4">Explorar</h4>
                        <li><a class="text-white" href="{% url 'index' %}">Home</a></li>
                        <li><a class="text-white" href="{% url 'lazer' %}">Pousada</a></li>
                        <li> <a class="text-white" href="#cabana">Roteiro Urubici</a> </li>
                        <li> <a class="text-white"
                                href="https://api.whatsapp.com/send?phone=+55+4991324760&text=Olá, eu vi o anúncio no site e gostaria de mais informações....">Reserve
                                Agora</a> </li>
                        <br>
                        <h3>Redes Sociais</h3>
                        <div class="social_footer">
                            <a class="btn btn-outline-light btn-floating m-1"
                                href="https://www.instagram.com/fazendarincaocomprido_urubici/" role="button"><i
                                    class="fab fa-instagram"></i></a>
                            <a class="btn btn-outline-light btn-floating m-1" href="" role="button"><i
                                    class="fab fa-facebook"></i></a>
                            <a class="btn btn-outline-light btn-floating m-1"
                                href="https://www.tripadvisor.com.br/Hotel_Review-g1632650-d25232211-Reviews-Pousada_Fazenda_Rincao_Comprido-Urubici_State_of_Santa_Catarina.html"
                                role="button"><i class="fa fa-tripadvisor"></i></a>
                            <a class="btn btn-outline-light btn-floating m-1"
                                href="https://www.google.com/maps/place/Pousada+Fazenda+Rinc%C3%A3o+Comprido/@-28.1221274,-49.6275646,15z/data=!4m2!3m1!1s0x0:0x45c104d93da980ec?sa=X&ved=2ahUKEwiJ1YPo68z8AhWqJ7kGHf3WCFcQ_BJ6BAhKEAc"
                                role="button"><i class="fa fa-google"></i></a>

                        </div>
                        </li>

                    </div>

                    <!-- Contato-->




                </div>
                <hr style="background-color: white;">
                <div class="row">
                    <div class="col-md-10">
                        <div class="text-white small">
                            © 2021 - 2022 | Todos os direitos reservados a Pousada Fazenda Rincão Comprido.
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="text-white small">
                            Desenvolvido por: <a style="color: #d2eefa;"
                                href="https://www.carstenpaulo.com/">Carsten</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
    </footer>
</section>