{% extends 'base.html' %} {% load static %} {% block content %} {% include '_navbar.html' %}


<section id="banner">
    <div class="container">
        <div class="row mt-4">
            <div class="col-12 col-lg-5">
                <div class="title">
                    <h1 class="mt-4"
                        style="font-family: Poppins, sans-serif; color: #2a303b; line-height: 1.3; font-weight: 500;">
                        Serra Catarinense & Urubici</h1>

                    <p style="font-size: 22px; font-family: Poppins, sans-serif;" class="mt-4 mb-4">
                        A Serra Catarinense é conhecida como a região mais fria do Brasil. Ao contrário da Serra Gaúcha,
                        onde as cidades ficam
                        mais distantes umas das outras, é fácil e rápido viajar de carro entre os municípios do planalto
                        serrano de Santa Catarina;
                        <br>
                        Urubici é o mais belo destino da Serra Catarinense. Conhecida por suas belezas naturais;
                        cachoeiras, cavernas, cânions e serras, tem como principal atração o Morro da Igreja,
                        considerado o local mais frio do Brasil.
                        Urubici despontou como principal destino da Serra Catarinense;
                        <br>
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-7">
                <div class="about-us-thumbnail mb-100 wow fadeInUp" data-wow-delay="700ms">
                    <div class="row no-gutters d-flex justify-content-center">
                        <div class="col-4">
                            <div class="single-thumb">
                                <img class="img-responsive bounce" src="{% static 'images/urubici/pedra.jpg' %}"
                                    width="345" alt="">
                            </div>

                            <div class="single-thumb">
                                <img class="img-responsive bounce" src="{% static 'images/urubici/veudanoiva.jpg' %}"
                                    width="336" alt="">
                            </div>

                        </div>
                        <div class="col-6">
                            <div class="single-thumb">
                                <img class="img-responsive bounce" src="{% static 'images/urubici/riobugres.jpg' %}"
                                    width="312">
                            </div>
                        </div>
                        <small class="float-left ">Pedra Furada (Morro da Igreja),
                            Cachoeira Véu da noiva e
                            Cachoeira Rio dos Bugres.</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="pontosturisticos">
    <div class="container ">
        <h1 class="mt-4 " style="font-family: Poppins, sans-serif; color: #2a303b; line-height: 1.3; font-weight: 500;">
            <i class="fa-regular fa-map-location-dot "></i>
            Pontos Turísticos
        </h1>
        <div class="container">
            <div class="row ">

                <div class="col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top"
                            src="{% static 'images/urubici/Cascata_do_avencal_parte_superior.jpg' %}" height="245"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 style="font-family: Poppins, sans-serif;text-transform: capitalize; font-weight: bolder;"
                                class="card-title">Cascata do avencal parte
                                superior</h5>
                            <a href="https://www.google.com/maps/dir/Cascata+do+Avencal+-+Urubici,+SC/Pousada+Fazenda+Rinc%C3%A3o+Comprido+-+Estr.+Geral+-+Urubici,+SC,+88650-000/@-28.0700278,-49.6622104,16321m/data=!3m1!1e3!4m14!4m13!1m5!1m1!1s0x952046a308bbde8f:0x759e349948d4eb8b!2m2!1d-49.6174242!2d-28.0470339!1m5!1m1!1s0x95204984246de3ed:0x45c104d93da980ec!2m2!1d-49.6275646!2d-28.1221274!3e0"
                                class="btn btn-outline-primary font-weight-bolder"> Clique aqui para ver a Rota
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top img-responsive"
                            src="{% static 'images/urubici/Cascata_do_avencal_parte_inferior.jpg' %}" height="245"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 style="font-family: Poppins, sans-serif;text-transform: capitalize; font-weight: bolder;"
                                class="card-title none">Cascata do Avencal parte inferior</h5>
                            <a href="https://www.google.com/maps/dir/Trilha+da+Cascata+do+Avencal+-+Urubici,+SC/Pousada+Fazenda+Rinc%C3%A3o+Comprido+-+Estr.+Geral+-+Urubici,+SC,+88650-000/@-28.0700278,-49.6622104,16321m/data=!3m1!1e3!4m14!4m13!1m5!1m1!1s0x952046a4515bd867:0x18a71a58ae9169a!2m2!1d-49.6165325!2d-28.0422338!1m5!1m1!1s0x95204984246de3ed:0x45c104d93da980ec!2m2!1d-49.6275646!2d-28.1221274!3e0"
                                class="btn btn-outline-primary font-weight-bolder"> Clique aqui para ver a Rota
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top img-responsive"
                            src="{% static 'images/urubici/morro_da_igreja_e_pedra_furada.jpg' %}" height="245"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 style="font-family: Poppins, sans-serif;text-transform: capitalize; font-weight: bolder;"
                                class="card-title ">Morro da Igreja & Pedra Furada</h5>
                            <a href="https://www.google.com/maps/dir/Morro+da+igreja+-+Santa+Teresinha,+Orleans+-+SC/Pousada+Fazenda+Rinc%C3%A3o+Comprido+-+Estr.+Geral+-+Urubici,+SC,+88650-000/@-28.0593972,-49.6309635,32644m/data=!3m2!1e3!4b1!4m14!4m13!1m5!1m1!1s0x95205164217a0b75:0x4cc3609cb8777c33!2m2!1d-49.4723046!2d-28.1286991!1m5!1m1!1s0x95204984246de3ed:0x45c104d93da980ec!2m2!1d-49.6275646!2d-28.1221274!3e0"
                                class="btn btn-outline-primary font-weight-bolder"> Clique aqui para ver a Rota
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="{% static 'images/urubici/cachoeira_papuã.jpg' %}" height="245"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 style="font-family: Poppins, sans-serif;text-transform: capitalize; font-weight: bolder;"
                                class="card-title "> Cachoeira Papuã</h5>
                            <a href="https://www.google.com/maps/dir/Cachoeira+Papu%C3%A3+Parque+Tur%C3%ADstico+-+Rodovia+UCI+-+S%C3%A3o+Crist%C3%B3v%C3%A3o,+Urubici+-+SC/Pousada+Fazenda+Rinc%C3%A3o+Comprido+-+Estr.+Geral+-+Urubici,+SC,+88650-000/@-28.0835217,-49.6642482,13z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x952047c38d62ef25:0x1fc3bc52cb99161b!2m2!1d-49.6326364!2d-28.0482565!1m5!1m1!1s0x95204984246de3ed:0x45c104d93da980ec!2m2!1d-49.6275646!2d-28.1221274!3e0"
                                class="btn btn-outline-primary font-weight-bolder"> Clique aqui para ver a Rota
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="{% static 'images/urubici/abrigo_1500.jpg' %}"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 style="font-family: Poppins, sans-serif;text-transform: capitalize; font-weight: bolder;"
                                class="card-title ">Abrigo 1500</h5>
                            <a href="https://www.google.com/maps/dir/Abrigo+1500,+Estrada+geral+campo+dos+padres+-+Campo+dos+padres,+Urubici+-+SC,+88650-000/Pousada+Fazenda+Rinc%C3%A3o+Comprido+-+Estr.+Geral+-+Urubici,+SC,+88650-000/@-28.0354286,-49.6100323,32652m/data=!3m2!1e3!4b1!4m14!4m13!1m5!1m1!1s0x95205fe89f633013:0x10d47ed3c7766390!2m2!1d-49.4461433!2d-27.9493153!1m5!1m1!1s0x95204984246de3ed:0x45c104d93da980ec!2m2!1d-49.6275646!2d-28.1221274!3e0"
                                class="btn btn-outline-primary font-weight-bolder"> Clique aqui para ver a Rota
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="{% static 'images/urubici/mirante_de_urubici.jpg' %}"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 style="font-family: Poppins, sans-serif;text-transform: capitalize; font-weight: bolder;"
                                class="card-title ">Mirante de Urubici</h5>
                            <a href="https://www.google.com/maps/dir/Mirante+Urubici+-+Urubici,+SC,+88650-000/Pousada+Fazenda+Rinc%C3%A3o+Comprido+-+Estr.+Geral+-+Urubici,+SC,+88650-000/@-28.0732512,-49.6635661,16320m/data=!3m2!1e3!4b1!4m14!4m13!1m5!1m1!1s0x952043ff1bf94537:0xa0c4125a9400ab3d!2m2!1d-49.6060403!2d-28.0245119!1m5!1m1!1s0x95204984246de3ed:0x45c104d93da980ec!2m2!1d-49.6275646!2d-28.1221274!3e0"
                                class="btn btn-outline-primary font-weight-bolder"> Clique aqui para ver a Rota
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="{% static 'images/urubici/cânion_do_espraiado.jpg' %}"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 style="font-family: Poppins, sans-serif;text-transform: capitalize; font-weight: bolder;"
                                class="card-title ">Cânion do Espraiado</h5>
                            <a href="#" class="btn btn-outline-primary font-weight-bolder"> Clique aqui para ver a Rota
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="{% static 'images/urubici/morro_do_campestre.jpg' %}"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 style="font-family: Poppins, sans-serif;text-transform: capitalize; font-weight: bolder;"
                                class="card-title ">Morro do Campestre</h5>
                            <a href="https://www.google.com/maps/dir/Morro+do+Campestre,+Estr.+Geral+-+Campestre,+Urubici+-+SC,+88650-000/Pousada+Fazenda+Rinc%C3%A3o+Comprido+-+Estr.+Geral+-+Urubici,+SC,+88650-000/@-28.0446602,-49.6870585,32649m/data=!3m2!1e3!4b1!4m14!4m13!1m5!1m1!1s0x952041cd674d06bf:0x20e304d923c2f5d7!2m2!1d-49.6496744!2d-27.9726001!1m5!1m1!1s0x95204984246de3ed:0x45c104d93da980ec!2m2!1d-49.6275646!2d-28.1221274!3e0"
                                class="btn btn-outline-primary font-weight-bolder"> Clique aqui para ver a Rota
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="{% static 'images/urubici/rio_sete_quedas.jpg' %}" height="240"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 style="font-family: Poppins, sans-serif;text-transform: capitalize; font-weight: bolder;"
                                class="card-title ">Rio Sete Quedas</h5>
                            <a href="https://www.google.com/maps/dir/Rio+Sete+Quedas+-+BR-475+-+Urubici,+SC/Pousada+Fazenda+Rinc%C3%A3o+Comprido+-+Estr.+Geral+-+Urubici,+SC,+88650-000/@-28.0461168,-49.6870585,32648m/data=!3m2!1e3!4b1!4m14!4m13!1m5!1m1!1s0x95204136e1525b83:0x7c08d8657914547b!2m2!1d-49.6326318!2d-27.9715354!1m5!1m1!1s0x95204984246de3ed:0x45c104d93da980ec!2m2!1d-49.6275646!2d-28.1221274!3e0"
                                class="btn btn-outline-primary font-weight-bolder"> Clique aqui para ver a Rota


                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="{% static 'images/urubici/museu_brunken.jpg' %}" height="200"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 style="font-family: Poppins, sans-serif;text-transform: capitalize; font-weight: bolder;"
                                class="card-title ">Museu Brunken</h5>
                            <a href="https://www.google.com/maps/dir/Museu+Brunken+-+Urubici,+SC/Pousada+Fazenda+Rinc%C3%A3o+Comprido+-+Estr.+Geral+-+Urubici,+SC,+88650-000/@-28.0461168,-49.6870585,32648m/data=!3m1!1e3!4m14!4m13!1m5!1m1!1s0x9520439c3015da8d:0x7c5f854dbe5fd217!2m2!1d-49.5566972!2d-27.9988602!1m5!1m1!1s0x95204984246de3ed:0x45c104d93da980ec!2m2!1d-49.6275646!2d-28.1221274!3e0"
                                class="btn btn-outline-primary font-weight-bolder"> Clique aqui para ver a Rota
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="{% static 'images/urubici/cascata_da_neve.jpg' %}" height="200"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 style="font-family: Poppins, sans-serif;text-transform: capitalize; font-weight: bolder;"
                                class="card-title ">Cascata da Neve
                            </h5>
                            <a href="https://www.google.com/maps/dir/Trilha+Cascata+da+Neve+-+Urubici,+SC/Pousada+Fazenda+Rinc%C3%A3o+Comprido+-+Estr.+Geral+-+Urubici,+SC,+88650-000/@-28.0684929,-49.6565947,16321m/data=!3m2!1e3!4b1!4m14!4m13!1m5!1m1!1s0x9520441978ff13d5:0x82eefb02b98fd56e!2m2!1d-49.6020115!2d-28.0402736!1m5!1m1!1s0x95204984246de3ed:0x45c104d93da980ec!2m2!1d-49.6275646!2d-28.1221274!3e0"
                                class="btn btn-outline-primary font-weight-bolder"> Clique aqui para ver a Rota
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="{% static 'images/urubici/pedra_da_águia.jpg' %}" height="200"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 style="font-family: Poppins, sans-serif;text-transform: capitalize; font-weight: bolder;"
                                class="card-title ">Pedra da Águia</h5>
                            <a href="https://www.google.com/maps/dir/Pedra+da+%C3%81guia+-+Santa+Teresinha,+Urubici+-+SC/Pousada+Fazenda+Rinc%C3%A3o+Comprido+-+Estr.+Geral+-+Urubici,+SC,+88650-000/@-28.056123,-49.5808622,32645m/data=!3m2!1e3!4b1!4m14!4m13!1m5!1m1!1s0x952057f9f9b5bd5f:0xb50354a866a02798!2m2!1d-49.370592!2d-28.0241328!1m5!1m1!1s0x95204984246de3ed:0x45c104d93da980ec!2m2!1d-49.6275646!2d-28.1221274!3e0"
                                class="btn btn-outline-primary font-weight-bolder"> Clique aqui para ver a Rota
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="{% static 'images/urubici/cascata_veu_da_noiva.jpg' %}"
                            height="200" alt="Card image cap">
                        <div class="card-body">
                            <h5 style="font-family: Poppins, sans-serif;text-transform: capitalize; font-weight: bolder;"
                                class="card-title ">Cascata Véu da Noiva</h5>
                            <a href="https://www.google.com/maps/dir/Cascata+V%C3%A9u+de+Noiva+-+Estrada+Geral+do+Morro+da+Igreja+-+Santa+Teresinha,+Urubici+-+SC/Pousada+Fazenda+Rinc%C3%A3o+Comprido+-+Estr.+Geral+-+Urubici,+SC,+88650-000/@-28.056123,-49.6378844,32645m/data=!3m2!1e3!4b1!4m14!4m13!1m5!1m1!1s0x952050064ae2ce37:0xaae4107f575dc5f1!2m2!1d-49.5186368!2d-28.0771212!1m5!1m1!1s0x95204984246de3ed:0x45c104d93da980ec!2m2!1d-49.6275646!2d-28.1221274!3e0"
                                class="btn btn-outline-primary font-weight-bolder"> Clique aqui para ver a Rota
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="{% static 'images/urubici/serra_do_rio_do_rastro.jpg' %}"
                            height="200" alt="Card image cap">
                        <div class="card-body">
                            <h5 style="font-family: Poppins, sans-serif;text-transform: capitalize; font-weight: bolder;"
                                class="card-title ">Serra do Rio do Rastro</h5>
                            <a href="https://www.google.com/maps/place/Serra+do+Rio+do+Rastro+-+SC/@-28.3934261,-49.5517667,1017m/data=!3m2!1e3!4b1!4m5!3m4!1s0x9521b1d751e056c3:0x9763e5b29fbd1843!8m2!3d-28.3934308!4d-49.549578"
                                class="btn btn-outline-primary font-weight-bolder"> Clique aqui para ver a Rota
                            </a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="{% static 'images/urubici/serra_do_corvo_branco.jpg' %}"
                            height="200" alt="Card image cap">
                        <div class="card-body">
                            <h5 style="font-family: Poppins, sans-serif;text-transform: capitalize; font-weight: bolder;"
                                class="card-title ">Serra do Corvo Branco</h5>
                            <a href="https://www.google.com/maps/place/Serra+do+Corvo+Branco+(ABERTA+AT%C3%89+O+DIA+08%2F01%2F2023)/@-28.0564633,-49.3691522,1020m/data=!3m2!1e3!4b1!4m5!3m4!1s0x952057d42f50292f:0x257a459e3feadedc!8m2!3d-28.0564681!4d-49.3669635"
                                class="btn btn-outline-primary font-weight-bolder"> Clique aqui para ver a Rota
                            </a>
                        </div>
                    </div>
                </div>

                <br>
                <div class="col-md-4 ">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="{% static 'images/urubici/altos_do_corvo_branco.jpg' %}"
                            height="220" alt="Card image cap">
                        <div class="card-body">
                            <h5 style="font-family: Poppins, sans-serif;text-transform: capitalize; font-weight: bolder;"
                                class="card-title ">Altos do Corvo Branco</h5>
                            <a href="https://www.google.com/maps/place/Altos+Corvo+Branco/@-28.054688,-49.3707998,1020m/data=!3m2!1e3!4b1!4m5!3m4!1s0x952057678412d8bb:0x9af968119378703f!8m2!3d-28.0546928!4d-49.3686111"
                                class="btn btn-outline-primary font-weight-bolder"> Clique aqui para ver a Rota
                            </a>
                        </div>
                    </div>
                </div>


                <br>

                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="{% static 'images/urubici/morro_do_parapente.jpg' %}"
                            height="220" alt="Card image cap">
                        <div class="card-body">
                            <h5 style="font-family: Poppins, sans-serif;text-transform: capitalize; font-weight: bolder;"
                                class="card-title ">Morro do Parapente</h5>
                            <a href="#" class="btn btn-outline-primary font-weight-bolder"> Clique aqui para ver a Rota
                            </a>
                        </div>
                    </div>
                </div>

                <br>

                <div class="col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="{% static 'images/urubici/campo_dos_padres.jpg' %}" height="220"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 style="font-family: Poppins, sans-serif;text-transform: capitalize; font-weight: bolder;"
                                class="card-title ">Campo dos Padres</h5>
                            <a href="#" class="btn btn-outline-primary font-weight-bolder"> Clique aqui para ver a Rota
                            </a>
                        </div>
                    </div>
                </div>

                <br>

                <div class="col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="{% static 'images/urubici/pomar_invernador.jpg' %}" height="240"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 style="font-family: Poppins, sans-serif;text-transform: capitalize; font-weight: bolder;"
                                class="card-title ">Pomar Invernador</h5>
                            <a href="#" class="btn btn-outline-primary font-weight-bolder"> Clique aqui para ver a Rota
                            </a>
                        </div>
                    </div>
                </div>
                <br>

                <div class="col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="{% static 'images/urubici/cachoeira_do_vacariano.jpg' %}"
                            height="240" alt="Card image cap">
                        <div class="card-body">
                            <h5 style="font-family: Poppins, sans-serif;text-transform: capitalize; font-weight: bolder;"
                                class="card-title ">
                                Cachoeira Do Vacariano
                            </h5>
                            <a href="#" class="btn btn-outline-primary font-weight-bolder"> Clique aqui para ver a Rota
                            </a>
                        </div>
                    </div>
                </div>

                <br>
                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="{% static 'images/urubici/jardim_secreto_ville_de_france.jpg' %}"
                            height="215" alt="Card image cap">
                        <div class="card-body">
                            <h5 style="font-family: Poppins, sans-serif;text-transform: capitalize; font-weight: bolder;"
                                class="card-title ">Jardim Secreto Ville de France</h5>
                            <a href="#" class="btn btn-outline-primary font-weight-bolder"> Clique aqui para ver a Rota
                            </a>
                        </div>
                    </div>
                </div>

                <br>


                <div class="col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="{% static 'images/urubici/gruta_nossa_senhora_de_lourdes.jpg' %}"
                            height="200" alt="Card image cap">
                        <div class="card-body">
                            <h5 style="font-family: Poppins, sans-serif;text-transform: capitalize; font-weight: bolder;"
                                class="card-title ">Gruta Nossa Senhora De Lourdes</h5>
                            <a href="#" class="btn btn-outline-primary font-weight-bolder"> Clique aqui para ver a Rota
                            </a>
                        </div>
                    </div>
                </div>





                <div class="col-md-4">
                    <div class="card mb-4" style="width: 20rem;">
                        <img class="card-img-top"
                            src="{% static 'images/urubici/paróquia_nossa_senhora_mãe_dos_homens.jpg' %}" height="200"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 style="font-family: Poppins, sans-serif;text-transform: capitalize; font-weight: bolder;"
                                class="card-title ">Paróquia Nossa Senhora Mãe dos Homens</h5>
                            <a href="https://www.google.com/maps/dir/Par%C3%B3quia+Nossa+Senhora+M%C3%A3e+dos+Homens+-+Rua+Policarpo+de+Souza+Costa+-+Urubici,+SC/Pousada+Fazenda+Rinc%C3%A3o+Comprido+-+Estr.+Geral+-+Urubici,+SC,+88650-000/@-28.0684378,-49.6563443,13z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x95204154e6867eff:0x96816fa5338b8a15!2m2!1d-49.5919968!2d-28.0154622!1m5!1m1!1s0x95204984246de3ed:0x45c104d93da980ec!2m2!1d-49.6275646!2d-28.1221274!3e0"
                                class="btn btn-outline-primary font-weight-bolder"> Clique aqui para ver a Rota
                            </a>
                        </div>
                    </div>
                </div>

                <br>
                <div class="col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="{% static 'images/urubici/caverna_rio_dos_bugres.jpg' %}"
                            height="220" alt="Card image cap">
                        <div class="card-body">
                            <h5 style="font-family: Poppins, sans-serif;text-transform: capitalize; font-weight: bolder;"
                                class="card-title ">Caverna Rio Dos Bugres</h5>
                            <a href="https://www.google.com/maps/dir/Caverna+Rio+dos+Bugres+-+%C3%81guas+Brancas,+Urubici+-+SC/Pousada+Fazenda+Rinc%C3%A3o+Comprido+-+Estr.+Geral+-+Urubici,+SC,+88650-000/@-28.0437121,-49.6493017,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x95205cc2f5f3a969:0xe1917acc67c3e49c!2m2!1d-49.5091609!2d-27.9656119!1m5!1m1!1s0x95204984246de3ed:0x45c104d93da980ec!2m2!1d-49.6275646!2d-28.1221274!3e0"
                                class="btn btn-outline-primary font-weight-bolder"> Clique aqui para ver a Rota
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="{% static 'images/urubici/inscrições_rupestres_superior.jpg' %}"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 style="font-family: Poppins, sans-serif;text-transform: capitalize; font-weight: bolder;"
                                class="card-title ">Inscrições Rupestres</h5>
                            <a href="https://www.google.com/maps/dir/Inscri%C3%A7%C3%B5es+Rupestres,+SC+110,+Km+380+Morro+do+Avencal,+Urubici+-+SC,+88650-000/Pousada+Fazenda+Rinc%C3%A3o+Comprido+-+Estr.+Geral+-+Urubici,+SC,+88650-000/@-28.0731736,-49.6636761,16320m/data=!3m2!1e3!4b1!4m14!4m13!1m5!1m1!1s0x95204154ef1de933:0xbb4b5688e1beb4b8!2m2!1d-49.6121963!2d-28.0282986!1m5!1m1!1s0x95204984246de3ed:0x45c104d93da980ec!2m2!1d-49.6275646!2d-28.1221274!3e0"
                                class="btn btn-outline-primary font-weight-bolder"> Clique aqui para ver a Rota
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<div class="container ">
    <h1 class="mt-4" style="font-family: Poppins, sans-serif; color: #2a303b; line-height: 1.3; font-weight: 500;">
        <i class="fa-solid fa-wine-glass"></i>
        Vinícolas em Urubici & Região
    </h1>
    <div class="row">
        <div class="col-12 col-md-6">
            <ul>
                <li>Villa Francioni
                </li>
                <br>
                <li>Vinícola Thera
                </li>
                <br>
                <li>Vinícola Serra do Sol
                </li>
                <br>
                <li>Vinícola Urupema
                </li>
                <br>
                <li>Villaggio Bassetti
                </li>
                <br>
                <li>Vinícola Leone di Venezia
                </li>
                <br>
                <li>Vinícola D’alture
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-6 mb-4">
            <ul>
                <li>Vinícola Villaggio Conti
                </li>
                <br>
                <li>Vinhedos do Monte Agudo
                </li>
                <br>
                <li>Vinícola Quinta da Neve
                </li>
                <br>
                <li>Vinícola Suzin Ltda
                </li>
                <br>
                <li>Vivalti Vinícola
                </li>
                <br>
                <li>Vinícola Di Buratto
                </li>
                <br>
                <li>Vinícola Pericó
                </li>
            </ul>
        </div>
    </div>
</div>
</section>




{% include '_footer.html' %} {% endblock %}