{% extends 'base.html' %} {% load static %} {% block content %} {% include '_navbar.html' %}





<section id="gallery">
    <div class="container">
        <div class="mt-4 mb-4">
            <small
                style="color: black; letter-spacing: 3px; font-weight: bold; font-family: Poppins, sans-serif; font-size:18px;">Fotos
                Suites, Mezanino & Banheiros </small>
            <hr>
        </div>
        <div class="row ">

            <div class="col-md-4 mb-1">
                <a href="{% static 'images/suites/quarto2.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/suites/quarto2.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/suites/quarto9.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/suites/quarto9.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>

            <div class="col-md-4 mb-1">
                <a href="{% static 'images/suites/quarto5.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/suites/quarto5.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>

            <div class="col-md-4 mb-1">
                <a href="{% static 'images/suites/quarto7.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/suites/quarto7.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/suites/quarto8.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/suites/quarto8.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/suites/quarto3.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/suites/quarto3.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>

            <div class="col-md-4 mb-1">
                <a href="{% static 'images/suites/quarto13.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/suites/quarto13.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>

            <div class="col-md-4 mb-1">
                <a href="{% static 'images/suites/banheiro/banheiro3.jpg' %}" data-lightbox="models"
                    data-title="cozinha 1" class="href">
                    <img src="{% static 'images/suites/banheiro/banheiro3.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>

            <div class="col-md-4 mb-1">
                <a href="{% static 'images/suites/banheiro/banheiro5.jpg' %}" data-lightbox="models"
                    data-title="cozinha 1" class="href">
                    <img src="{% static 'images/suites/banheiro/banheiro5.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/suites/quarto17.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/suites/quarto17.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/suites/quarto18.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/suites/quarto18.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>

            <div class="col-md-4 mb-1">
                <a href="{% static 'images/suites/quarto20.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/suites/quarto20.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/suites/quarto21.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/suites/quarto21.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>


            <div class="col-md-4 mb-1">
                <a href="{% static 'images/suites/quarto24.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/suites/quarto24.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/suites/quarto25.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/suites/quarto25.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/suites/quarto26.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/suites/quarto26.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/suites/quarto27.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/suites/quarto27.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/suites/quarto28.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/suites/quarto28.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/suites/quarto29.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/suites/quarto29.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/suites/quarto30.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/suites/quarto30.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>

            <div class="col-md-4 mb-1">
                <a href="{% static 'images/suites/quarto32.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/suites/quarto32.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/suites/quarto1.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/suites/quarto1.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/suites/quarto33.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/suites/quarto33.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>








        </div>
    </div>
</section>

<style>
    #algo .container {
        width: 100%;
        min-height: 100vh;
        align-items: center;
        justify-items: center;
        padding: 50px 8%;
    }

    .container .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit), minmax(250px, 1fr);
        grid-gap: 30px;
    }

    .gallery img {
        width: 100%;
        margin-bottom: 10px;
    }
</style>


{% include '_footer.html' %}





{% endblock %}