{% extends 'base.html' %} {% load static %} {% block content %} {% include '_navbar.html' %}





<section id="gallery">
    <div class="container">
        <div class="mt-4 mb-4">
            <small
                style="color: black; letter-spacing: 3px; font-weight: bold; font-family: Poppins, sans-serif; font-size:18px;">Fotos
                Lazer </small>
        </div>
        <div class="row ">

            <div class="col-md-4 mb-1">
                <a href="{% static 'images/lazer/lazer1.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/lazer/lazer1.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/lazer/lazer5.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/lazer/lazer5.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/lazer/lazer3.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/lazer/lazer3.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/lazer/lazer4.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/lazer/lazer4.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/lazer/lazer2.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/lazer/lazer2.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/lazer/lazer6.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/lazer/lazer6.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/lazer/lazer7.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/lazer/lazer7.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/lazer/lazer8.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/lazer/lazer8.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/lazer/lazer9.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/lazer/lazer9.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/lazer/lazer10.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/lazer/lazer10.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/lazer/lazer11.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/lazer/lazer11.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/lazer/lazer12.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/lazer/lazer12.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/lazer/lazer13.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/lazer/lazer13.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>

       
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/lazer/lazer14.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/lazer/lazer14.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/lazer/lazer15.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/lazer/lazer15.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>


            <div class="col-md-4 mb-1">
                <a href="{% static 'images/lazer/lazer18.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/lazer/lazer18.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-4 mb-1">
                <a href="{% static 'images/lazer/lazer19.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/lazer/lazer19.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>


            <div class="col-md-4 mb-1">
                <a href="{% static 'images/lazer/lazer23.jpg' %}" data-lightbox="models" data-title="cozinha 1"
                    class="href">
                    <img src="{% static 'images/lazer/lazer23.jpg' %}" class="img-fluid" alt="">
                </a>
            </div>

        </div>
    </div>
</section>

<style>
    #algo .container {
        width: 100%;
        min-height: 100vh;
        align-items: center;
        justify-items: center;
        padding: 50px 8%;
    }

    .container .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit), minmax(250px, 1fr);
        grid-gap: 30px;
    }

    .gallery img {
        width: 100%;
        margin-bottom: 10px;
    }
</style>


{% include '_footer.html' %}





{% endblock %}